@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
$text-font: 'Fira Code', monospace;


:root {
    --link-color: #d10069;
    --link-color-used: #d10069;
    --background: #EEEEEE;

    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --link-color: hotpink;
        --link-color-used: hotpink;
        --background: black;
        --text-color: white;
    }
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: $text-font;
    font-size: 14pt;
    overflow: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
}

a {
    color: var(--link-color);
}

#content {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

h1, h2, h3, h4, h5, h6 {
}

.title {
    text-align: center;
}


.links {
    text-align: right;
}

.lalign {
    text-align: left;
}

.ralign {
    text-align: right;
}
.about {
    width: 50vw;
}

aside {
    float: right;
    border-style: solid;
    border-color: var(--link-color);
    padding: 5px;
    text-align: center;
    img {
        margin-right: 0;
    }
}

#fursona {
    width: 250px;
}
#fursona-appearance {
    width: 100%;
}
#fursona-ref {
    max-width: 100%;
}

.gallery {
  img {
    max-height: 30vh;
  }

  div {
    display: flex;
  }

}
