<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Fursona Info</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <div>
      <h1 class="title">Fursona(s)</h1>
      <% for fursona in fursonas %>
        <%= fursona %>
      <% end %>
      </div>
  </body>

</html>
