<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Poems</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <h1 class="title"> Poems </h1>
    <p> Below is a number of poems I've written over the years (most of which
        I'm still proud of). Some are humorous, some are depressing, and some
        are just weird, but I hope you enjoy! </p>

  <% for poem in poems %>
                <details>
                    <summary> <%= poem[:title] %> </summary>
                    <a href="<%= poem[:url] %>"> Download </a> <br>
                    <pre> <%= poem[:body] %> </pre>
                </details>
    <% end %>
</body>

</html>
