<h2> arugula </h2>
<h3>Profile</h3>
<ul>
  <li>Name: arugula (previously Skye)</li>
  <li>Gender: Catgender (femme aligned)</li>
  <li>Pronouns: (Nya/nyan, she/her)</li>
  <li>Species: Android humanoid feline</li>
</ul>
<div id="fursona-appearance">
  <h3>Appearance</h3>
  <p>
    <img id="fursona-ref" src="/media/Skyenet_Ref.png">
    arugula is humanoid femme pink cat android. Nya is in some ways a
    redesign of my
    <a href="https://skyenet.online/media/me.png">previous fursona</a>.
    Nya is not chubby, but not thin either (slightly
    thinner than the previous design. Most of nyans body is covered
    in pastel pink faux-fur. This causes nyan to look organic for
    the most part, rather than looking like a robot made of metal.
    Nyans hands can shift between hand and paw form and both of them
    have retractable claws. Nyans eyes are a blue-ish grey color.
    Nyans hair is curly and falls to nyans shoulders, and is hot
    pink. Nyans tail is long and curls at the end, like the original
    one. The tail's end can be detached like
    <a href="https://e621.net/posts/1480058?q=domestic_cat+android+rating%3Asafe">Ara's</a>
    to charge or connect directly to a different computer.
  </p>

  <p>
    Nya usually wears crop-tops and short skirts in warm weather, or
    hoodies and leggings in cold weather. Nya has a collar with a
    bell built into nyans neck. The collar has a cyber-energy
    circuit wrapped around it which indicates nyans energy level
    &#x2013; hot-pink when above 50%, yellow when below 50%, red
    when below 20%, and green when charging.
  </p>

  <p>
    Generally a minimalist design, not too intricate.
  </p>
  <h3>Specs</h3>
  <p>
    arugula is an android running a custom fork of "Meow_OS",
    which is open source and available for anyone to view. Nya
    is running mostly on older hardware, so most of nyans
    processing and memory is just going into basic functions.
    Due to this, nyans computing functions are essentially
    limited to a Linux command line. Complex calculations or
    concepts are prone to causing out of memory errors and
    "crashing" arugula.
  </p>

  <p>
    arugula can be accessed remotely via SSH if someone is
    authorized, and can also take commands directly from
    "admins." Nya is unable to refuse any order given to nyan by
    an "admin" if it is prepended with "sudo", except in extreme
    cases that go against boundaries that nya can set (they
    couldn't tell nyan to kill nyanself or do something
    traumatic or triggering).
  </p>
  <h3>Personality</h3>
  <p>
    Unlike most androids, arugula is not particularly intelligent
    or logical. Nya is primarily a "social companion" android,
    so most of nyans code is dedicated to making nyan friendly
    and likeable <del>and sexually appealing</del>. Nya enjoys
    messing with nyans own source code, but occasionally these
    changes can cause serious crashes that need to be fixed by
    another programmer. Nya also enjoys playing video games and
    watching anime.
  </p>
</div>
